<div class="one_col_no_sidebar">
	<%= f.inputs "Change Password" do -%>
		<% if @current_user == @user -%>
			<li class="password input required" id="user_password_old_input">
				<label for="user_password_old" class="label">
					Old Password
					<abbr title="required">*</abbr>
				</label>
				<input type="password" id="user_password_old" name="user[password_old]" type="password" tabindex="8">
			</li>
		<% end -%>
		<%= f.input :password, :as => :password, :required => true, :label => "New password", :input_html => {:tabindex => 9} %>
		<%= f.input :password_confirmation, :as => :password, :required => true, :label => "New password confirmation", :input_html => {:tabindex => 10} %>

		<%  f.help_link :password do %>
			<h3>Choosing a strong password</h3>
			<p>
				Passwords must meet some basic strength requirements. A password must:
			</p>
			<ul>
				<li>be at least 6 characters long.</li>
				<li>not contain the username.</li>
				<li>not be a common password or predictable sequence of characters.</li>
			</ul>
		<% end -%>
	<% end -%>

	<%= f.actions do -%>
		<%= f.commit_button :label => "Change Password", :button_html => { :class => "pass" } %>
	<% end -%>
</div>

